.account-container * {
  font-family: "Space Grotesk", sans-serif;
}

.account-container {
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2,
h1,
.username-display {
  width: 80%;
  text-align: center;
  color: white;
  background: none;
  margin-bottom: 5%;
  border: none;
  letter-spacing: 5px;
  font-size: 3rem;
  font-family: "Russo One", sans-serif;
}

h1 {
  font-size: 5rem;
}

.edit-fields {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
}

.col-field {
  display: flex;
  flex-direction: column;
}

.edit-fields textarea {
  resize: vertical;
  height: 250px;
  max-height: 100%;
}

.edit-fields button {
  aspect-ratio: 5/1;
  width: 35%;
  height: auto;
}

.btn-controls {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10%;
}

.btn-controls div {
  display: flex;
  justify-content: space-evenly;
}

.btn-controls div:last-child {
  justify-content: center;
}

.btn-controls button {
  background-color: darkgray;
  border: 2px solid white;
  font-size: 1rem;
  color: black;
  border-radius: 25px 5px 25px 5px;
  transition: 0.5s;
}

.btn-controls button:hover:not(.grayed) {
  background-color: black;
  color: white;
  transform: scale(110%);
  border-radius: 5px 25px 5px 25px;
}

.btn-controls .red:hover {
  background-color: red !important;
}

.grayed {
  background-color: rgba(169, 169, 169, 0.5) !important;
}

.grayed:hover {
  cursor: default !important;
}

.pfp-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.pfp-view input {
  border: 2px solid white;
  padding: 2%;
}

.prof-image {
  width: 45%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.guest-img {
  background-color: white;
  image-rendering: pixelated;
}

.card-controls {
  width: 100%;
  height: 125px;
}

.card-controls button {
  width: 50%;
  height: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 2rem;
  transition: 0.5s;
}

.card-controls button:hover {
  background-color: rgba(27, 27, 27, 0.5);
  border-bottom: 10px rgba(0, 0, 0, 0.5) solid;
}

.card-controls .selected,
.card-controls .selected:hover {
  border-bottom: 10px white solid;
}
