* {
  font-weight: normal;
}

body {
  height: 1fr;
  background-image: linear-gradient(
    to top right,
    rgb(48, 48, 48),
    rgb(37, 37, 37)
  );
}

button:hover {
  cursor: pointer;
}

header {
  color: white;
  margin-bottom: 25px;
  padding: 15px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 40px;
  font-family: "Russo One", sans-serif;
  text-align: center;
}

.btn {
  padding: 15px 25px;
  border-radius: 25px 5px;
  background-color: gray;
  color: black;
  transition: 0.5s;
}

.loading {
  font-size: 30px;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

.small {
  padding: 5px 10px;
}

.btn-blue {
  background-color: rgb(117, 117, 255);
}

.btn:hover {
  background-color: black;
  color: white;
  transform: scale(110%);
  border-radius: 5px 25px;
}

form {
  background-color: #44403c;
  color: white;
  margin-bottom: 40px;
  padding: 16px 32px;
  border-radius: 5px;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  flex-direction: column;
}

form input,
form select {
  background-color: #78716c;
  border: none;
  border-radius: 5px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
  width: 100%;
}

form input::placeholder {
  color: rgb(141, 140, 140);
  transition: 1s;
}

form input:hover::placeholder {
  font-size: 110%;
}

aside {
  margin: 0px auto;
  height: 200px;
  width: 55%;
  text-align: center;

  display: block;
  gap: 30px;
}

aside button {
  margin: 5px;
}

section {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;

  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}

.filt-disp {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: white;
  margin-left: 50px;
}

.window-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  /* top: 0px;
  left: 0px; */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(48, 48, 48, 0.5);
}

.window {
  width: 80%;
  height: 90%;
  padding: 1%;
  background-color: rgb(37, 37, 37);
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.window input {
  width: 80%;
  border: none;
  background: none;
  font-size: 3em;
  font-family: "Russo One", sans-serif;
  text-align: center;
  color: white;
  margin-bottom: 3%;
}

.window textarea {
  width: 80%;
  height: 40vh;
  font-size: 2em;
  background-color: rgb(87, 87, 87);
  border: none;
  margin-bottom: 3%;
}

.dropdowns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 120px;
}

.dropdowns select {
  background-color: #78716c;
  width: 15%;
  height: 30px;
  border-radius: 10px;
  text-align: center;
}

.dropdowns select:hover,
select *:hover {
  cursor: pointer;
}

.dropdowns div {
  width: 15%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25%;
}

.dropdowns div button {
  height: 50%;
  border-radius: 25px 5px 25px 5px;
  background-color: #808080;
  transition: 0.5s;
}

.dropdowns div button:hover {
  transform: scale(120%);
  background-color: black;
  border-radius: 5px 25px 5px 25px;
  color: white;
}

.comments {
  position: absolute;
  top: 25%;
  left: 25%;

  background-color: rgb(85, 85, 85);
  max-width: 400px;
}
